services:

  db:
    image: postgres:16
    container_name: threat_db
    environment:
      POSTGRES_USER: threat
      POSTGRES_PASSWORD: threat
      POSTGRES_DB: threatdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  grafana:
    image: grafana/grafana:latest
    container_name: threat_grafana
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    depends_on:
      - db

  backend:
    build: ./backend
    container_name: threat_api
    ports:
      - "8000:8000"
    env_file:
      - .env.example
    depends_on:
      - db

volumes:
  pgdata:
